{% extends 'main.html' %} {% block content %}{% load static %}

<section class="cart-section">
  <div class="container">
    <h2>Your Cart</h2>
    <div class="cart-items">
      {% for item in items %}
      <div class="cart-item">
        <div class="item-details">
          <img
            class="cart-image"
            src="{{item.name.image.url}}"
            alt="{{item.name}}"
          />

          <div class="item-info">
            <h5 class="pro-name">{{item.name.name}}</h5>
            <p class="pro-price">Rs.{{item.name.price}}</p>
          </div>
        </div>
        <div class="quantity ml-auto">
          <a href="{% url 'cart_delete' item.id %}">
            <i class="fa-solid fa-trash" style="color: #7ddcfa; margin: 1rem">
            </i>
          </a>
          <a href="{% url 'cart_minus' item.id %}" class="quantity-btn minus">
            <i class="fa-solid fa-minus"></i>
          </a>
          <input
            type="number"
            class="quantity-input"
            value="{{item.quantity}}"
            min="1"
          />
          <a href="{% url 'cart_plus' item.id %}" class="quantity-btn plus">
            <i class="fa-solid fa-plus"></i>
          </a>
        </div>
      </div>
      <hr />
      {% endfor %}

      <!-- Add more cart items here -->
    </div>
    <div class="cart-total">
      <h4>Total: $20</h4>
      <button class="btn btn-primary">Checkout</button>
    </div>
  </div>
</section>
<script>
  let qun = document.querySelectorAll(".quantity");
  qun.forEach((q) => {
    let btns = q.querySelectorAll(".quantity-btn");
    btns.forEach((btn) => {
      btn.addEventListener("click", (e) => {
        if (e.target.parentElement.classList[1] == "plus")
          e.target.parentElement.parentElement.children[2].value++;
        else if (e.target.parentElement.classList[1] == "minus") {
          if (e.target.parentElement.parentElement.children[2].value == 0);
          else e.target.parentElement.parentElement.children[2].value--;
        }
      });
    });
  });
</script>
{% endblock content %}
